In [1]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['h', 'e', 'l', 'l', 'o']

In [3]:
mylist = [item for item in 'word']

In [4]:
mylist

['w', 'o', 'r', 'd']

In [5]:
mylist = [num for num in range(1,11)]

In [6]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
mylist = [num ** 2 for num in range(1,11)]

In [8]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
mylist = [x for x in range (0,11) if x%2 == 0]

In [10]:
mylist

[0, 2, 4, 6, 8, 10]

In [14]:
celcius = [0,20,20,30.4]
fahrnheit = []
for temp in celcius:
    fahrnheit.append(((9/5)*temp+32))

In [13]:
fahrnheit

[32.0, 50.0, 68.0, 86.72]

In [15]:
fahrnheit = [((9/5)*temp+32) for temp in celcius ]

In [16]:
fahrnheit

[32.0, 68.0, 68.0, 86.72]

In [17]:
result = [x if x%2==0 else 'odd' for x in range(0,11)]

In [18]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [19]:
mylist = [(x*y) for x in [2,3,4] for y in [1,10,20]]

In [20]:
mylist

[2, 20, 40, 3, 30, 60, 4, 40, 80]